
.bkgresume{
   background-color:#e7c5c5;
   font-family: 'Times New Roman', Times, serif;
   padding:35px;
   font-size:larger;
   font-weight: 100;
}
.skill{
   font-size: larger;
   font-family:'Times New Roman', Times, serif;
}
.style{
   font-size:large;
   font-family:'Times New Roman', Times, serif;
   text-shadow: 2px;
}
.button1{
   border-width: 10px;
   size:50px;
}