
.bkgresume{
   background-color: rgb(177, 228, 110);
   font-family: 'Times New Roman', Times, serif;
}
.resume-img{
    margin-top:0px;   
    margin-bottom:0px;
   
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
  
}