*{
    margin:0px;
    padding:0px;
}
main-container{
    background-color:rgb(207, 224, 235);
}

.about-title{
    color:red !important
}
.about-img{
    width: 300px;
    height:150px;
    border-radius: 50%;
    box-shadow:10px 10px 10px 10px;
    margin-bottom: 20px;
   
}
