*{
    margin:0px;
    padding:0px;
}

.big-container{
    background-color:rgb(228, 207, 248)
}
.profile{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
}